<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eva.dao.system.SystemMenuMapper">

  <resultMap id="BaseResultMap" type="com.eva.dao.system.model.SystemMenu">
    <id column="ID" jdbcType="INTEGER" property="id"/>
    <result column="PARENT_ID" jdbcType="INTEGER" property="parentId"/>
    <result column="NAME" jdbcType="VARCHAR" property="name"/>
    <result column="PATH" jdbcType="VARCHAR" property="path"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    <result column="ICON" jdbcType="VARCHAR" property="icon"/>
    <result column="DISABLED" jdbcType="BIT" property="disabled"/>
    <result column="SORT" jdbcType="INTEGER" property="sort"/>
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    <result column="CREATE_USER" jdbcType="INTEGER" property="createUser"/>
    <result column="UPDATE_USER" jdbcType="INTEGER" property="updateUser"/>
    <result column="DELETED" jdbcType="BIT" property="deleted"/>
  </resultMap>

  <!-- 查询菜单列表 -->
  <resultMap id="SystemMenuListVO" type="com.eva.dao.system.vo.SystemMenuListVO" autoMapping="true">
    <id column="ID" property="id"/>
    <association property="createUserInfo" javaType="com.eva.dao.system.model.SystemUser">
      <result column="CREATE_USER_ID" property="id"/>
      <result column="CREATE_USER_NAME" property="username"/>
    </association>
    <association property="updateUserInfo" javaType="com.eva.dao.system.model.SystemUser">
      <result column="UPDATE_USER_ID" property="id"/>
      <result column="UPDATE_USER_NAME" property="username"/>
    </association>
  </resultMap>
  <select id="selectManageList" resultMap="SystemMenuListVO">
    SELECT
      menu.`ID`, menu.`PARENT_ID`, menu.`NAME`, menu.`PATH`, menu.`REMARK`, menu.`DISABLED`, menu.SORT, menu.`ICON`, menu.`CREATE_TIME`, menu.`UPDATE_TIME`, menu.`CREATE_USER`, menu.`UPDATE_USER`, menu.`DELETED`,
      create_user.ID CREATE_USER_ID, create_user.`USERNAME` CREATE_USER_NAME,
      update_user.ID UPDETE_USER_ID, update_user.`USERNAME` UPDATE_USER_NAME
    FROM SYSTEM_MENU menu
    LEFT JOIN `SYSTEM_USER` create_user ON create_user.ID = menu.CREATE_USER
    LEFT JOIN `SYSTEM_USER` update_user ON update_user.ID = menu.UPDATE_USER
    <where>
      menu.DELETED = 0
    </where>
    ORDER BY menu.SORT
  </select>

  <!-- 查询菜单树 -->
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
      DISTINCT menu.`ID`, menu.`PARENT_ID`, menu.`NAME`, menu.`PATH`, menu.`REMARK`, menu.`DISABLED`, menu.SORT, menu.`ICON`, menu.`CREATE_TIME`, menu.`UPDATE_TIME`, menu.`CREATE_USER`, menu.`UPDATE_USER`, menu.`DELETED`
    FROM `SYSTEM_MENU` menu
    INNER JOIN SYSTEM_ROLE_MENU role_menu ON role_menu.MENU_ID = menu.ID AND role_menu.DELETED = 0
    INNER JOIN SYSTEM_USER_ROLE user_role ON user_role.ROLE_ID = role_menu.ROLE_ID AND user_role.DELETED = 0
    <where>
      AND menu.DELETED = 0
      AND menu.DISABLED = 0
      AND user_role.USER_ID = #{userId}
    </where>
    ORDER BY menu.SORT
  </select>

  <!-- 根据角色ID查询菜单列表 -->
  <select id="selectByRoleId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
      menu.`ID`, menu.`PARENT_ID`, menu.`NAME`, menu.`PATH`, menu.`REMARK`, menu.`DISABLED`, menu.SORT, menu.`ICON`, menu.`CREATE_TIME`, menu.`UPDATE_TIME`, menu.`CREATE_USER`, menu.`UPDATE_USER`, menu.`DELETED`
    FROM `SYSTEM_MENU` menu
    INNER JOIN `SYSTEM_ROLE_MENU` role_menu ON role_menu.MENU_ID = menu.ID AND role_menu.DELETED = 0
    <where>
      menu.DELETED = 0
      AND role_menu.ROLE_ID = #{roleId}
    </where>
  </select>

</mapper>