<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eva.dao.system.SystemDictMapper">

  <!-- 查询部门列表 -->
  <resultMap id="SystemDictListVO" type="com.eva.dao.system.vo.SystemDictListVO" autoMapping="true">
    <id column="ID" property="id"/>
    <association property="createUserInfo" javaType="com.eva.dao.system.model.SystemUser">
      <result column="CREATE_USER_ID" property="id"/>
      <result column="CREATE_USER_NAME" property="username"/>
    </association>
    <association property="updateUserInfo" javaType="com.eva.dao.system.model.SystemUser">
      <result column="UPDATE_USER_ID" property="id"/>
      <result column="UPDATE_USER_NAME" property="username"/>
    </association>
  </resultMap>
  <select id="selectManageList" parameterType="com.eva.dao.system.dto.QuerySystemDictDTO" resultMap="SystemDictListVO">
    SELECT
      dict.`ID`, dict.`CODE`, dict.`NAME`, dict.`REMARK`, dict.`CREATE_TIME`, dict.`UPDATE_TIME`, dict.`CREATE_USER`, dict.`UPDATE_USER`,
      create_user.ID CREATE_USER_ID, create_user.`USERNAME` CREATE_USER_NAME,
      update_user.ID UPDETE_USER_ID, update_user.`USERNAME` UPDATE_USER_NAME
    FROM SYSTEM_DICT dict
    LEFT JOIN `SYSTEM_USER` create_user ON create_user.ID = dict.CREATE_USER
    LEFT JOIN `SYSTEM_USER` update_user ON update_user.ID = dict.UPDATE_USER
    <where>
      dict.DELETED = 0
      <if test="code != null and code != ''">
        AND dict.`CODE` LIKE concat('%', #{code}, '%')
      </if>
      <if test="name != null and name != ''">
        AND dict.`NAME` LIKE concat('%', #{name}, '%')
      </if>
    </where>
  </select>

</mapper>