<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiwa.dao.system.SystemUserMapper">

  <!-- 查询用户和角色 -->
  <resultMap id="SystemUserListVO" type="com.yiwa.dao.system.vo.SystemUserListVO" autoMapping="true">
    <id column="ID" property="id"/>
    <association property="position" javaType="com.yiwa.dao.system.model.SystemPosition">
      <result column="POSITION_ID" property="id"/>
      <result column="POSITION_NAME" property="name"/>
    </association>
    <association property="department" javaType="com.yiwa.dao.system.model.SystemDepartment">
      <result column="DEPARTMENT_ID" property="id"/>
      <result column="DEPARTMENT_NAME" property="name"/>
    </association>
    <association property="createUserInfo" javaType="com.yiwa.dao.system.model.SystemUser">
      <result column="CREATE_USER_ID" property="id"/>
      <result column="CREATE_USER_NAME" property="username"/>
    </association>
    <association property="updateUserInfo" javaType="com.yiwa.dao.system.model.SystemUser">
      <result column="UPDATE_USER_ID" property="id"/>
      <result column="UPDATE_USER_NAME" property="username"/>
    </association>
  </resultMap>
  <select id="selectManageList" parameterType="com.yiwa.dao.system.dto.QuerySystemUserDTO" resultMap="SystemUserListVO">
    SELECT
      DISTINCT
      usr.ID, usr.BIRTHDAY, usr.EMAIL, usr.EMP_NO, usr.MOBILE, usr.AVATAR, usr.USERNAME, usr.REALNAME, usr.SEX, usr.CREATE_TIME, usr.UPDATE_TIME,
      sp.ID AS POSITION_ID, sp.`NAME` AS POSITION_NAME,
      sd.ID AS DEPARTMENT_ID, sd.`NAME` AS DEPARTMENT_NAME,
      create_user.ID CREATE_USER_ID, create_user.`USERNAME` CREATE_USER_NAME,
      update_user.ID UPDETE_USER_ID, update_user.`USERNAME` UPDATE_USER_NAME
    FROM `SYSTEM_USER` usr
    LEFT JOIN `SYSTEM_USER` create_user ON create_user.ID = usr.CREATE_USER
    LEFT JOIN `SYSTEM_USER` update_user ON update_user.ID = usr.UPDATE_USER
    LEFT JOIN `SYSTEM_POSITION_USER` spu ON spu.USER_ID = usr.ID
    LEFT JOIN `SYSTEM_POSITION` sp ON sp.ID = spu.POSITION_ID AND sp.DELETED = 0
    LEFT JOIN `SYSTEM_DEPARTMENT_USER` sdu ON sdu.USER_ID = usr.ID
    LEFT JOIN `SYSTEM_DEPARTMENT` sd ON sd.ID = sdu.DEPARTMENT_ID AND sd.DELETED = 0
    <where>
      usr.DELETED = 0
      <if test="positionId != null">
        AND spu.POSITION_ID = #{positionId}
      </if>
      <if test="departmentId != null">
        AND sdu.DEPARTMENT_ID = #{departmentId}
      </if>
      <if test="username != null and username != ''">
        AND usr.`USERNAME` LIKE CONCAT('%', #{username}, '%')
      </if>
      <if test="realname != null and realname != ''">
        AND usr.`REALNAME` LIKE CONCAT('%', #{realname}, '%')
      </if>
      <if test="mobile != null and mobile != ''">
        AND usr.`MOBILE` LIKE CONCAT('%', #{mobile}, '%')
      </if>
    </where>
    ORDER BY usr.ID ASC
  </select>

</mapper>